@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;    
    -moz-osx-font-smoothing: grayscale;
}
:root{
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;

    --color-base-pink:#B52184;
    --color-base-blue:#312D64;
    --color-base-white:#fff;
}

#astronauta {
    width: 36.4rem;
    height: 37rem;
    margin: 0 3.4rem 1.7rem 3.4rem;
}

header {
    text-align: center;
    align-items: center;
    margin: 0 6.6rem 0px 5.3rem;
}

header > h1 {
    font-size: 3.6rem;
    font-weight: 900;
    color: var(--color-base-pink);
}
header > p {
    font-size: 2.0rem;
    font-weight: 600;
    color: var(--color-base-blue);
}

#logo {
    margin: 3.5rem 18.6rem 6.8rem 18.6rem;
    
    
}

main {
    margin: 654px 4px 668x 4px;
    padding: 2px;
    display: block;
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
}

#planets {
    margin: 53px 92px;
   
    
    display: flex;
    padding: 53px 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 33px;
    align-self: stretch;


    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 3.31077px 13.24308px 0px rgba(0, 0, 0, 0.25);
}