@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;    
    -moz-osx-font-smoothing: grayscale;
}
:root{
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;

    --color-base-pink:#B52184;
    --color-base-blue:#312D64;
    --color-base-white:#fff;
}

header {
    text-align: center;
    align-items: center;
    margin: 0 6.6rem 0px 5.3rem;
}

h1 p {
    text-align: left;
}
h1 {
    font-size: 3.6rem;
    font-weight: 900;
    color: var(--color-base-pink);
}

p {
    font-size: 2.0rem;
    font-weight: 600;
    color: var(--color-base-blue);
}

#astronauta {
    width: 36.4rem;
    height: 37rem;
    margin: 0 3.4rem 1.7rem 3.4rem;
}


#logo {
       
    margin: 35px 150px 93px;
    width: 58.587px;
    height: 105px;    
}

main {
    margin: 654px 4px 668x 4px;
    padding: 2px;
    display: block;
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
}

#planets {
    margin: 5.3rem 9.2rem;
    width: 35.2rem;
    height: 35.8rem;
    display: flex;
    padding: 2.3rem 4rem;
    flex-direction: column;
    align-items: flex-start;
    
    
    align-self: stretch;
    border-radius: 2rem;
    background: #FFF;
    box-shadow: 0px 3.31077px 13.24308px 0px rgba(0, 0, 0, 0.25);
}

#planets > h1 {
    font-size: 3rem;
    margin-top: 20px;
}

#planets > p {
    font-size: 1.6rem;
    margin-top: 10px;
}